  h3
  {
    font-size: 25px !important;
  }

.btn-success:hover
{
	background-color: red;
}

canvas
 {
	  animation-name: example;
	  animation-duration: 4s;
	  animation-iteration-count: infinite;

  }


@keyframes example 
{

  from {  box-shadow: 60px 60px 50px 20px rgb(245, 2, 2);  }
  to {   box-shadow: 60px 60px 50px 20px rgb(0, 255, 17);  }

}
